<html>
<head>
<title>{{ post }}</title>
</head>

<body>

<h1>{{ post }}</h1>
작성일: {{ post.get_pub_date }}
조회수: {{ post.views }}
댓글: {{ post.comments }}
<br>
<br>
<p>
본문: <br>
{{ post.content }} <br>
</p>


<p> - 댓글 - <br>
{% for comment in comments %}
작성자: {{ comment.user.name }} 작성일: {{ comment.get_pub_date }}<br>
내용: {{ comment.content }}<br>
</p><br>
{% endfor %}

<form action = '{% url 'blog:detail' post.id %}' method = 'post'>
{% csrf_token %}
{{ form.as_p }}
<input type = 'submit' value = '작성'>
</form>

</body>

</html>